

.container {
  height: 100vh;
  overflow: hidden;
  background-color: #4267b2;
  padding: 60px 40px;
  background: url(../img/splashnew.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.login-logo {
  height: 14%;
  margin-bottom: 30px;
  background-color: transparent;
  background-image: url(../img/ZIP-logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.login-title {
  margin: 0;
  font-size: 30px;
  margin-bottom: 60px;
  color: white;
  text-align: center;
}
.login-form {
  width: 100%;
  margin-bottom: 32px;
}
.input-field{height: 100px;}
.input-field input {
  height: 48px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #1ca3a6;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  background-color: #1ca4a64b;
  color: white;
  box-sizing: border-box;
 
  margin-top: 8px;
}
input:focus {
  border: 1px solid #83a1b4;
}

.input-field label {
  font-weight: bold;
  left: 15px;
  pointer-events: none;
  color: white;
  font-size: 20px;
  padding: 16px;
}
.nav-wrap {
  display: flex;
  justify-content: center;
  
}

.loginbtn {
  width: 100px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: #1ca3a6;
  border-radius: 10px;
  align-items: center;
  margin-top: 32px;
}

.loginbtn:disabled,
.loginbtn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.container .auth {
  margin: 35px 0 20px 16px;
  font-size: 19px;
  /* color: grey; */
  color: white;
}
.links {
  display: flex;
  cursor: pointer;
}

.signup {
  position: absolute;
  align-self: center;
  font-size: 20px;
  top: "auto";
  bottom: 30px;
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
}
.signup span {
  font-weight: bold;
  color: #3498db;
  text-decoration: none;
}
.signup span:hover {
  text-decoration: underline;
}

.errors{
  height: 32px;
  color:red;
  margin-top: 5px;
 
   /* margin-bottom: 32px; */
   padding-left: 16px;
   /* border:1px solid red; */
}
.input-field .input-error{
   border:1px solid red;
   background-color: rgba(255, 255, 255, 0.369);
}
