/* body {
  margin: 0;
  padding: 0;
} */

h3, h2 {
  color: #1ca3a6;
}
.tab-title{
  color: #1ca3a6;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
}
.tab-title p{
  color:rgb(143, 141, 141)  ;
  font-size: 20px;
  font-weight: 400;
}


.postPage {
  color:rgb(143, 141, 141)  ;
  padding: 0px 20px;
  margin: 10px auto auto auto;
  background-color: white;
  align-items: center
  
}

.title {
  display: grid;
  grid-template-columns: 1fr 2fr .5fr;
  align-items: center
}

.title h2 {
  padding: 0px;
  margin: 0px;
  font-size: 30px;

}

.postDetail {
  margin: 20px auto;
  border-radius: 5px;
  /* height: 300px; */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.detailImg {
  /* height: 90%; */
  /* background-image: url(../img/bird.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.detailImg img{
  /* max-width: 100%; */
  height: 100%;
  width: 100%;
}

.postMenu {
  color:rgb(143, 141, 141);
  display: flex;
  justify-content: space-between;
  /* margin: 20px auto; */
  padding: 15px 18px;
  font-size: 13px;
  align-items: center;
}
.post-name{
  font-size: 20px;
  /* color:rgb(138, 135, 135); */
  font-family: 'Times New Roman', Times, serif;

}


.btnDetail {
  margin:  20px auto 20px auto;
  display: flex;
  justify-content: space-around
}

.postComment {
  /* background-color:rgba(0, 0, 0, 0.15); */
  color: white;
  border: 10px;
 
}

.postDescription {
  display: none;
}

.comments {
  display: flex;
  justify-content: space-between;
 
}

.comments input {
  border:#B5B2B2 1px solid;
  margin: 0px 10px;
  flex-basis: 100%;
  border-radius: 10px;
}

.comments input:focus {
  border:#B5B2B2 1px solid;
}

.comments input::placeholder {
  padding-left: 5px;
}

.comment-cancel{

  color: #B5B2B2  ;
height: 36px;
border:none;
background-color: white;
font-size: 17px;
font-weight: 500;
}
.comments a {
  background-color: #1ca3a6;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 70px;
  text-align: center;
  padding: 3px 0px;
  border-radius: 5px;
}

.commentsDone {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  gap: 5px;
  
}

.comment-name{
  color:#1ca3a6;
  display: flex;
  justify-content: space-between;
  margin: 6px auto;
}
.comment-name span{
  font-size: 16px;
  font-weight: 500;
}

.comment-name button{
  font-size: 9px;
  background-color: white;
  color:#1ca3a6;
 
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #1ca3a6;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
   
}
.comment-time{
  font-size: 10px;
  color:#B5B2B2;
  margin: 6px auto;
}
.comment-context{
  font-size: 13px;
  color:#817e7e;
  margin: 6px auto;
}

#comment-box {
  width: 100%;
  padding: 5px 10px ;
  color: black;
}


.profileImg img{
  height: 83px;
  width: 83px;
  background-color: #1ca3a6;
  /* background-image: url(../img/mike.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.profileImgS {
  height: 24px;
  width: 24px;
}

.detail-tab{
  border-bottom: 1px solid rgb(203, 201, 201);
  }
