body {
  margin: 0;
  padding: 0;
}

.profileDisplay {
  padding: 0px 20px;
  margin: auto;
  background-color: white;
  align-items: center;
}

.profileDetails {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.profileImg {
  height: 83px;
  width: 83px;
  background-color: #1ca3a6;
  background-image: url(../img/mike.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.profileDetails h3 {
  color: #1ca3a6;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.profileDetails p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.profileDescription h3 {
  color: #1ca3a6;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  margin-top: 20px;
}

.profileDescription p {
  font-size: 15px;
}

.pastPosts h3 {
  color: #1ca3a6;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.profileGallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 5px;
}

.profilePost {
  border-radius: 5px;
  height: 150px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.postImg {
  height: 70%;
  background-image: url(../img/bird.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.postMenu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px 10px;
  font-size: 13px;
  align-items: center;
}



.postMenu p {
  margin: 0px;
  padding: 0px;
}

.postMenu span {
  font-weight: bold;
}

hr {
  border-top: #555452;
}
